
.searchbar-component{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar{
   
    box-sizing: border-box;
    width: 350px;
   
    display: inline-block;
    margin: auto;
    justify-content: center;
    
}
.search-button{
    height: 22px;
    width: 30px;
    padding: 2;
    margin: 1rem;
    font-size: medium;
}